<launch>

  <!-- Load hardware configuration and parameters-->
  <param name="robot_description"
      command="$(find xacro)/xacro '$(find jelly_descriptions)/robots/jelly.urdf.xacro'" />

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" >
  </include>

  <node name="tf2_web_republisher"
    pkg="tf2_web_republisher"
    type="tf2_web_republisher" />

  <arg
    name="gui"
    default="True" />
  <param
    name="use_gui"
    value="$(arg gui)" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="state_publisher" />
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
</launch>
